{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<br />

<h3>Sources:</h3>
<ul>
    <li>"Borrowed" the ticket queue from Kent Stark to get inspiration for database schema </li>
    <li> <a href="https://www.youtube.com/watch?v=w1STSSumoVk">Build a User Login System with Flask and MongoDB</a> - Luke Peters, YouTube</li>
    <li> <a href="https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-18-04">How To Serve Flask Applications with Gunicorn and Nginx on Ubuntu 18.04</a> - Digital Ocean</li>
</ul>

<br />

<h3>Known Bugs, Future Improvements:</h3>
<ul>
    <li>Future: Https functionality</li>
    <li>Future: Add delete_ticket functionality</li>
    <li>Future: add "assign to me" button on ticket page</li>
    <li>Future: add filters to ticket page</li>
    <ul>
        <li>assigned==user</li>
        <li>status=='open'</li>
        <li>status=='closed' - default</li>
    </ul>
    <li>Future: Add user account page</li>
    <li>Future: Add User permissions</li>
    <li>Future: Add email notification on ticket creation</li>
    <li>Bugs: None, (yet...)</li>

</ul>

<h3>TODO:</h3>

<ol>
    <li style="text-decoration:line-through">Add User Signup</li>
    <li style="text-decoration:line-through">Add User Login & integrate database</li>
    <li style="text-decoration:line-through">Add User Session</li>
    <li style="text-decoration:line-through">Add User Logout</li>
    <li style="text-decoration:line-through">Add Ticket Creation</li>
    <li style="text-decoration:line-through">Add Ticket Display</li>
    <li style="text-decoration:line-through">Add Ticket Update</li>
    <li style="text-decoration:line-through">Setup Digital Ocean hosting</li>
    <li style="text-decoration:line-through">Add create_time to ticket_create and ticket_edit and tickets</li>
    <li style="text-decoration:line-through">Add back button to ticket_create and ticket_edit</li>
    <li style="text-decoration:line-through">Cleanup Pages</li>
</ol>

<h3>Tech used:</h3>
<ul>
    <li>Flask</li>
    <li>Mongita / PyMongo</li>
    <li>JavaScript / JQuery</li>
    <li>Ajax calls</li>
    <li>Bootstrap 3</li>
    <li>Digital Ocean, with autodeploy from source</li>
    <li>DNS with GoDadddy</li>
</ul>




{% endblock %}
