{% extends "layout.html" %}

{% block content %}

<div class="card">

    <h1>Create an Account</h1>

    <form name="signup_form">

        <label for="name">Name</label>
        <input type="text" name="name" required />

        <label for="email">Email</label>
        <input type="email" name="email" required />

        <label for="password">Password</label>
        <input type="password" name="password" required />

        <!--<p></p>-->

        <input type="submit" value="Sign Up" />


    </form>
</div>

{% endblock %}
